@each $value in 0, 10, 12, 13, 14, 15, 16, 19, 22, 34
  .fw-fz-#{$value}
    font-size: #{$value}px

.fw-font-georgia
  font-family: 'Georgia', sans-serif
  font-weight: normal
  font-style: normal

.fw-font-futura-demic
  font-family: 'FuturaDemiC', sans-serif

.fw-font-lato
  font-family: 'Lato', sans-serif

.fw-font-lato-black
  font-family: 'Lato Black', sans-serif
  font-weight: 900

.fw-font-lato-hairline
  font-family: 'Lato Hairline', sans-serif
  font-weight: 300

.fw-font-helvetica
  font-family: 'Helvetica Neue', sans-serif

.fw-font-helvetica-condensed-bold
  font-family: 'Helvetica Condensed', sans-serif
  font-weight: bold
  font-style: normal

.fw-font-helvetica-condensed-black
  font-family: 'Helvetica Condensed', sans-serif
  font-weight: 900
  font-style: normal

.fw-font-thin
  font-weight: 100

.fw-font-light
  font-weight: 300

.fw-font-heavy
  font-weight: 900

.fw-font-normal
  font-weight: normal

.fw-font-medium
  font-weight: 500

.fw-font-bold
  font-weight: bold

.fw-font-italic
  font-style: italic