.fw-grid
  display: flex
  flex-wrap: wrap

.fw-grid-middle
  align-items: center

.fw-grid-bottom
  align-items: center

@each $value in 0, 15, 20
  .fw-grid-#{$value}
    margin-left: -#{$value}px
    margin-bottom: -#{$value}px

    & > *
      box-sizing: border-box
      padding-left: #{$value}px
      margin-bottom: #{$value}px

  .fw-grid-#{$value}\@xs
    @media screen and (min-width: $extraSmall)
      margin-left: -#{$value}px
      margin-bottom: -#{$value}px

      & > *
        box-sizing: border-box
        padding-left: #{$value}px
        margin-bottom: #{$value}px

  .fw-grid-#{$value}\@s
    @media screen and (min-width: $small)
      margin-left: -#{$value}px
      margin-bottom: -#{$value}px

      & > *
        box-sizing: border-box
        padding-left: #{$value}px
        margin-bottom: #{$value}px

  .fw-grid-#{$value}\@m
    @media screen and (min-width: $medium)
      margin-left: -#{$value}px
      margin-bottom: -#{$value}px

      & > *
        box-sizing: border-box
        padding-left: #{$value}px
        margin-bottom: #{$value}px

  .fw-grid-#{$value}\@l
    @media screen and (min-width: $large)
      margin-left: -#{$value}px
      margin-bottom: -#{$value}px

      & > *
        box-sizing: border-box
        padding-left: #{$value}px
        margin-bottom: #{$value}px