doctype html
html
    head
        title
            block title

        // Stylesheets
        include stylesheets.pug

    body
        // Header
        include header.pug
        // Header end

        // Content
        block content
        // Content end

        // Footer
        include footer.pug
        // Footer end

        // Scripts
        include scripts.pug