<div class="denim-plate">
    <div class="container fw-width-1-1">
        <a href="#" class="reset-link fw-flex fw-flex-middle">
            <div class="fw-mr-15">
                {#<i class="icon-denim-plate"></i>#}
                <img alt="" src="http://placehold.it/30x30"/>
            </div>
            <div class="denim-plate__content fw-fz-12 fw-color-grey">
                Генеральный партнер Denim: <br>
                знакомства для успешных мужчин
            </div>
            <div class="denim-plate__arrow fw-ml-auto">
                <i class="icon-arrow-right"></i>
            </div>
        </a>
    </div>
</div>