<div class="denim-plate">
    <div class="container fw-width-1-1">
        <a href="#" class="reset-link fw-flex fw-flex-middle">
            <div class="fw-mr-15">
                <i class="icon-denim"></i>
            </div>
            <div class="denim-plate__content fw-fz-12 fw-color-grey fw-mr-6">
                Генеральный партнер Denim:<br>знакомства для успешных мужчин
            </div>
            {#<div class="fw-mr-8">
                <i class="icon-aviasales-32x32"></i>
            </div>#}
            <div class="denim-plate__arrow fw-ml-auto">
                <i class="icon-arrow-right"></i>
            </div>
        </a>
    </div>
</div>