<div class="girls-grid girls-grid--small">
    <div class="girls-grid__container">
        <div class="fw-grid fw-grid-10">
            {% for i in 1..20 %}
                <div class="girls-grid__item girl-box girl-box--small">
                    <div class="girl-box__image-small">
                        <img alt="" src="http://placehold.it/80x80" class="fw-width-1-1 fw-border-radius-percent-50"/>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>