<div class="girls-grid fw-grid fw-grid-12">
    <div class="girls-grid__container">
        <div class="fw-grid fw-grid-12">
            {% for i in 1..10 %}
                <div class="girls-grid__item girl-box">
                    <div class="girl-box__image">
                        <img alt="" src="http://placehold.it/130x130" class="fw-width-1-1 girl-box__avatar"/>
                    </div>
                    <div class="girl-box__content fw-color-grey">
                        <div class="fw-fz-15 fw-font-bold">Аня, 23</div>
                        <div class="fw-fz-13">Москва</div>
                    </div>
                </div>
            {% endfor %}
            <div class="girls-grid__item princess-box">
                <i class="icon-princess-question"></i>
            </div>
            {% for i in 1..10 %}
                <div class="girls-grid__item girl-box">
                    <div class="girl-box__image">
                        <img alt="" src="http://placehold.it/130x130" class="fw-width-1-1 girl-box__avatar"/>
                    </div>
                    <div class="girl-box__content fw-color-grey">
                        <div class="fw-fz-15 fw-font-bold">Аня, 23</div>
                        <div class="fw-fz-13">Москва</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>