<div class="for-men__buttons">
    <a href="#" class="button button-pink button-square fw-height-90 fw-width-1-1 fw-mb-10">
        <span>Я хочу участвовать и стать мисс золушка бикини</span>
    </a>
    <a href="#"
       class="button button-blue fw-height-90 button-dark-blue button-square fw-width-1-1 fw-mb-10">
        <span>Я хочу голосовать и выйграть BMW X6</span>
    </a>
</div>