<div class="main-first-screen fw-flex fw-flex-column fw-pb-20">
    {% include '../layouts/header-transparent.twig' %}

    <div class="fw-text-center first-screen__title fw-mt-auto fw-mb-auto fw-fz-34 fw-font-georgia">
        <strong class="fw-font-bold">Золушка <br>в бикини</strong> <br> 2017
        <i class="icon-18-age"></i>
    </div>

    <div class="fw-text-center fw-mb-30"><a href="registration.html" class="button button-pink button-round">Участвовать</a></div>

    <div class="fw-text-center">
        <a href="home.html" class="reset-link fw-font-futura-demic fw-fz-19"><span class="fw-inline-block fw-mr-5">Подробнее</span> <i class="icon-arrow-down"></i></a>
    </div>
</div>