<div class="questionnaire">
    <div class="block-title fw-fz-22 fw-mb-20 fw-font-futura-demic">Блиц-опрос</div>
    <div class="questionnaire__wrapper" data-questionnaire>
        <div class="questionnaire__list fw-lh-1-33" data-questionnaire-height>
            <div class="questionnaire__item">
                <div class="questionnaire__title fw-font-bold">Что ты больше всего в себе любишь?</div>
                <div class="questionnaire__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, voluptates!
                </div>
            </div>
            <div class="questionnaire__item">
                <div class="questionnaire__title fw-font-bold">Какая часть тела у тебя самая красивая?</div>
                <div class="questionnaire__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa dolore doloribus
                    excepturi exercitationem id ipsum libero molestias quaerat quis! Aliquid autem similique
                    vero. Corporis, doloremque, dolores eaque ex excepturi fuga fugiat impedit ipsum modi,
                    nobis non possimus quas repellendus.
                </div>
            </div>
            <div class="questionnaire__item">
                <div class="questionnaire__title fw-font-bold">Какие у тебя таланты помимо эффектной
                    внешности?
                </div>
                <div class="questionnaire__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa dolore doloribus
                    excepturi exercitationem id ipsum libero molestias quaerat quis! Aliquid autem similique
                    vero. Corporis, doloremque, dolores eaque ex excepturi fuga fugiat impedit ipsum modi,
                    nobis non possimus quas repellendus.
                </div>
            </div>
            <div class="questionnaire__item">
                <div class="questionnaire__title fw-font-bold">Какие ошибки чаще всего совершают мужчины,
                    пытаясь познакомиться с тобой?
                </div>
                <div class="questionnaire__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto dolorem
                    earum impedit in magni optio perferendis quo tenetur! Ad dolores minus quo repellendus
                    soluta. Aut iste molestias tempora velit!
                </div>
            </div>
            <div class="questionnaire__item">
                <div class="questionnaire__title fw-font-bold">Самый приятный комплимент, который тебе
                    когда-либо делал мужчина?
                </div>
                <div class="questionnaire__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa dolore doloribus
                    excepturi exercitationem id ipsum libero molestias quaerat quis! Aliquid autem similique
                    vero. Corporis, doloremque, dolores eaque ex excepturi fuga fugiat impedit ipsum modi,
                    nobis non possimus quas repellendus.
                </div>
            </div>
            <div class="questionnaire__item">
                <div class="questionnaire__title fw-font-bold">Какого бы мужчину ты хотела найти?</div>
                <div class="questionnaire__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto dolorem
                    earum impedit in magni optio perferendis quo tenetur! Ad dolores minus quo repellendus
                    soluta. Aut iste molestias tempora velit!
                </div>
            </div>
        </div>
        <div class="questionnaire__button">
            <a href="#" class="reset-link fw-link-pink" data-questionnaire-show>Все вопросы</a>
        </div>
    </div>
</div>