[class*="icon-"]
  display: inline-block
  vertical-align: middle

@each $value in 18-age, enter, closed-eye, princess-question, pandora, battles, likes, social-insta, social-vk, social-fb, footer-appstore, footer-googleplay, location, denim, rating-list, pencil, input-check, camera, social-small-insta, social-small-fb, social-small-vk, social-small-tw, external-link, rating-grid, battles-big, likes-big, rating-list-big, heart-empty, heart-filled, woman-question, man-question, error, aviasales-32x32, aviasales-36x36
  .icon-#{$value}
    +sprite(icon-#{$value})

.icon-arrow-down
  border-right: 2px solid #fff
  border-bottom: 2px solid #fff
  width: 8px
  height: 8px
  transform: rotate(45deg)
  margin-top: -4px

.icon-arrow-right
  border-right: 3px solid #b9c9cd
  border-bottom: 3px solid #b9c9cd
  width: 9px
  height: 9px
  transform: rotate(-45deg)
  margin-top: -4px

  &--light
    border-width: 2px

  &--pink
    border-color: #f90369

.icon-cross
  width: 16px
  height: 16px
  position: relative
  transform: rotate(45deg)
  cursor: pointer

  &:after, &:before
    display: block
    position: absolute
    top: 50%
    left: 50%
    width: 2px
    height: 100%
    transform: translate(-50%, -50%)
    background-color: #9b9b9b
    content: ''

  &:after
    width: 100%
    height: 2px