{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}

    {% include 'components/main-first-screen.twig' %}

    <div class="registered fw-pt-20 fw-pb-20 fw-mb-10">
        <div class="container">
            <div class="block-title fw-color-blue fw-mb-10 fw-text-uppercase fw-text-center fw-font-futura-demic fw-fz-22">
                Уже зарегистрировано <br> 45984 участницы
            </div>
            <div class="fw-fz-15 fw-text-center">
                Прием заявок на участие ведется <br>
                до 21 июня 2017 года
            </div>
        </div>
    </div>

    <div class="fw-mb-30">
        {% include 'components/girls-grid-princess.twig' %}
    </div>

    <div class="what-is-it fw-pt-30 fw-pb-30">
        <div class="container">
            <div class="block-title fw-mb-10 fw-text-uppercase fw-text-center fw-font-futura-demic fw-fz-22">
                Что такое конкурс <br>
                Мисс-Бикини?
            </div>

            <div class="fw-ml-inverse-15 fw-mr-inverse-15 fw-mb-15">
                <img src="images/what-is-image.jpg" class="fw-width-1-1" alt="">
            </div>

            <div class="fw-fz-15 fw-text-center fw-mb-20">
                <p class="fw-mb-20">Жаркое лето только начинается и конкурс «Золушка в бикини» создан именно для таких
                    горячих девушек,
                    как ТЫ! Правила максимально просты – призам будут завидовать все подруги. Победительницы
                    определяются путем открытого интернет-голосования, проводимого среди пользователей сервиса Denim,
                    которые подтвердили свой финансовый статус.</p>

                <p>К конкурсу допускаются все девушки, достигшие 18 лет.</p>
            </div>

            <div class="fw-text-center">
                <a href="#" class="button button-round button-yellow">Подать заявку</a>
            </div>
        </div>
    </div>

    <div class="prises fw-pt-30 fw-pb-30">
        <div class="container">
            <div class="block-title fw-mb-10 text-blue fw-text-uppercase fw-text-center fw-font-futura-demic fw-fz-22">
                Какие существуют призы?
            </div>
            <div class="fw-fz-15 fw-text-center fw-mb-30">
                Выиграй поездку на океан и другие призы от наших спонсоров:
            </div>

            <div class="prises__grid fw-text-center fw-mb-20">
                <div class="prises__item fw-mb-30">
                    <div class="fw-link-pink fw-mb-5">1 место</div>
                    <div class="prises__item-title fw-font-futura-demic fw-fz-19 fw-mb-5">
                        Незабываемое романтическое путешествие для двоих
                    </div>
                    <div class="prises__item-image">
                        <img alt="" src="http://placehold.it/150x150" class="fw-width-1-1"/>
                    </div>
                </div>
                <div class="prises__item fw-mb-30">
                    <div class="fw-link-pink fw-mb-5">2 место</div>
                    <div class="prises__item-title fw-font-futura-demic fw-fz-19 fw-mb-5">
                        Подарочная карта ЦУМа на сумму 75 000 рублей
                    </div>
                    <div class="prises__item-image">
                        <img alt="" src="http://placehold.it/150x150" class="fw-width-1-1"/>
                    </div>
                </div>
                <div class="prises__item">
                    <div class="fw-link-pink fw-mb-5">3 место</div>
                    <div class="prises__item-title fw-font-futura-demic fw-fz-19 fw-mb-5">
                        Профессиональная фотосессия
                        в студии в трех образах
                    </div>
                    <div class="prises__item-image fw-mb-35">
                        <img alt="" src="http://placehold.it/150x150" class="fw-width-1-1"/>
                    </div>
                    <div>
                        <i class="icon-pandora"></i>
                    </div>
                </div>
            </div>
            <div class="fw-text-center fw-mb-20">
                Кроме того, победительницы двух специальных номинаций «Увесистая грудь» и «Я проблема!» получат
                подарочные сертификаты Pandora
                на 5000 и 10 000 рублей. Участвуйте, выигрывайте и исполняйте свои самые заветные мечты!
            </div>
            <div class="fw-text-center">
                <a href="#" class="button button-round button-blue">Подать заявку</a>
            </div>
        </div>
    </div>

    <div class="how-works fw-pt-30 fw-pb-30">
        <div class="container">
            <div class="block-title fw-fz-22 fw-text-center fw-mb-20 fw-font-futura-demic fw-text-uppercase">Как
                проходит голосование?
            </div>

            <div class="fw-text-center fw-mb-20">
                <div class="how-works__image">
                    <img src="images/how-works-phone.png" class="fw-width-1-1" alt="">
                </div>
            </div>

            <div>
                <p class="fw-mb-20">«Золушка в бикини» – максимально честный конкурс с предельно понятными механизмами
                    судейства.</p>

                <p class="fw-mb-20">Участие в голосовании принимают только авторизованные пользователи сервиса Denim,
                    имеющие
                    премиум-статус (кто знает, может быть, среди них ты найдешь мужчину своей мечты).</p>

                <p>Голоса участнице конкурса присваиваются исходя из результатов фотобатлов. Член жюри из пары случайно
                    выбранных девушек должен отдать свой выбор одной из них. Итоговый рейтинг конкурсантки складывается
                    из суммарных баллов выигранных фотобатлов – у кого рейтинг выше, тот и занимает призовые места.</p>
            </div>
        </div>
    </div>

    <div class="rating fw-pt-30 fw-pb-30">
        <div class="container">
            <div class="block-title fw-fz-22 fw-text-center fw-mb-20 fw-font-futura-demic fw-text-uppercase">
                Текущий рейтинг участниц
            </div>

            <table class="rating__table fw-fz-13 fw-width-1-1 fw-mb-20">
                {% for i in 1..5 %}
                    <tr>
                        <td class="rating__number">
                            {{ i }}
                        </td>
                        <td class="rating__image">
                            <img alt="" class="fw-border-radius-percent-50" src="http://placehold.it/32x32"/>
                        </td>
                        <td class="rating__info">
                            <p class="fw-font-futura-demic fw-fz-14">Наталья 22</p>
                            <p class="fw-fz-12">Москва</p>
                        </td>
                        <td class="rating__battles">
                            <i class="icon-battles"></i>
                            <span class="fw-inline-block">3033</span>
                        </td>
                        <td class="rating__likes">
                            <i class="icon-likes"></i>
                            <span class="fw-inline-block fw-font-bold">25</span>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <div class="fw-text-center">
                <a href="#" class="button button-round button-yellow">Смотреть всех</a>
            </div>
        </div>
    </div>

    <div class="for-men fw-pt-30 fw-pb-15">
        <div class="container">
            <div class="block-title fw-fz-22 fw-text-center fw-mb-20 fw-font-futura-demic fw-text-uppercase">
                Для мужчин мы также приготовили нечто особенное
            </div>
        </div>

        <div class="fw-mb-20">
            {% include 'components/girls-grid.twig' %}
        </div>

        <div class="container">
            <div class="fw-text-center fw-mb-20">
                Принимай активное участие в голосовании и выиграй одну из трех эксклюзивных платиновых клубных карт.
                Обращаем внимание, что к голосованию допускаются только мужчины, подтвердившие свой финансовый статус в
                приложении Denim и имеющие активный премиум-доступ.
            </div>

            {% include 'components/i-want.twig' %}
        </div>
    </div>

    <div class="social fw-pt-15 fw-pb-15">
        <div class="container">
            <div class="social__item fw-ml-inverse-15 fw-mr-inverse-15">
                <div class="social__header social__header--insta">
                    <i class="icon-social-insta fw-mr-15"></i>
                    <div class="fw-inline-block">
                        Denim в Инстаграм
                    </div>
                </div>
                <div class="social__content">
                    <div class="fw-grid fw-grid-1 fw-fz-0">
                        {% for i in 1..9 %}
                            <div class="fw-width-1-3">
                                <img alt="" src="http://placehold.it/106x106" class="fw-width-1-1"/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="social__item fw-ml-inverse-15 fw-mr-inverse-15">
                <div class="social__header social__header--fb">
                    <i class="icon-social-fb fw-mr-15"></i>
                    <div class="fw-inline-block">
                        Denim в Facebook
                    </div>
                </div>
                <div class="social__content">
                    <img alt="" src="http://placehold.it/320x400" class="fw-width-1-1 fw-inline-block" />
                </div>
            </div>
            <div class="social__item fw-ml-inverse-15 fw-mr-inverse-15">
                <div class="social__header social__header--vk">
                    <i class="icon-social-vk fw-mr-15"></i>
                    <div class="fw-inline-block">
                        Denim в Вконтакте
                    </div>
                </div>
                <div class="social__content">
                    <img alt="" src="http://placehold.it/320x400" class="fw-width-1-1 fw-inline-block" />
                </div>
            </div>
        </div>
    </div>

    {% include 'layouts/footer.twig' %}

    {% include 'components/denim-plate.twig' %}
{% endblock %}