{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

<style>
    .hello {
        border: 2px solid #ffaaaa;
    }
</style>

{% block content %}
    <div class="logo"><i class="fri fri-qube-logo"></i></div>
{% endblock %}