{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}

    {% include 'layouts/header.twig' %}

    <div class="profile-page fw-bg-color-light-grey fw-pb-30">
        <div class="container">
            <a href="#"
               class="girls-page__rating-plate reset-link fw-mb-15 fw-ml-inverse-15 fw-mr-inverse-15 fw-flex fw-flex-space-between fw-flex-middle">
                <div>
                    <i class="icon-rating-grid fw-mr-5"></i>
                    <span class="fw-inline-block fw-fz-14">Все участницы</span>
                </div>
            </a>
            <div class="block-title fw-fz-22 fw-font-futura-demic fw-text-uppercase">Волкова ирина, 23 года
            </div>
            <div class="fw-mb-10 fw-font-futura-demic fw-text-center fw-fz-19">
                г.Нижний Новгород
            </div>
            <div class="profile-content fw-border-radius-10 fw-bg-color-white">
                <div class="profile-avatar fw-fz-0">
                    <img alt="" src="http://placehold.it/500x500" class="fw-width-1-1 fw-border-radius-10"/>
                </div>
                <div class="profile-details fw-pl-15 fw-pr-15 fw-pb-15 fw-pt-15 fw-lh-1-33">
                    <div class="fw-flex fw-flex-middle fw-mb-20">
                        <div class="fw-flex fw-flex-middle fw-fz-16 fw-mr-20">
                            <i class="icon-battles-big fw-mr-5"></i>
                            <span>2342</span>
                        </div>
                        <div class="fw-flex fw-flex-middle fw-fz-16 fw-mr-20">
                            <i class="icon-likes-big fw-mr-5"></i>
                            <span>11</span>
                        </div>
                    </div>
                    <div>
                        <div class="fw-font-bold fw-fz-13 fw-mb-10">Сделай ей приятно – поделись этим фото с друзьями! </div>
                        <div class="fw-grid fw-grid-15">
                            <div>
                                <i class="icon-social-small-tw"></i>
                            </div>
                            <div>
                                <i class="icon-social-small-vk"></i>
                            </div>
                            <div>
                                <i class="icon-social-small-fb"></i>
                            </div>
                            <div>
                                <i class="icon-social-small-insta"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="girls-carousel fw-mr-inverse-15 fw-width-auto owl-carousel fw-pt-15 fw-pb-15" data-auto-width data-margin="10" data-loop>
                {% for i in 1..10 %}
                    <div>
                        <img alt="" src="http://placehold.it/110x110" class="fw-border-radius-10" />
                    </div>
                {% endfor %}
            </div>

            {% include 'components/questionnaire.twig' %}
        </div>
    </div>

    {% include 'components/more-girls.twig' %}

    <div class="container">
        {% include 'components/i-want.twig' %}
    </div>

    {% include 'layouts/footer.twig' %}

    {% include 'components/denim-plate.twig' %}
{% endblock %}