{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}

    {% include 'layouts/header.twig' %}

    <div class="fw-bg-color-light-grey fw-pt-30 fw-pb-30">
        <div class="container">
            <div class="block-title fw-fz-22 fw-font-futura-demic fw-text-uppercase fw-mb-15">Отлично, мы получили твое фото</div>
            <div class="fw-mb-15">
                После проверки фотографий, мы пришлем тебе письмо на электронную почту, указанную при регистрации с уведомлением о начале участии в конкурсе.
            </div>
            <div class="up-your-chance fw-mb-30">
                <div class="fw-fz-19 fw-font-futura-demic fw-mb-20">
                    Чтобы повысить свои шансы на успех
                </div>
                <ul class="numered-list fw-fz-13 fw-lh-1-54">
                    <li class="numered-list__item fw-mb-15">
                        Подпишись на канал конкурса на <a href="#" class="reset-link fw-link-pink">YouTube</a>
                    </li>
                    <li class="numered-list__item fw-mb-15">
                        <div class="fw-mb-15">Подпишись на Denim в социальных сетях:</div>
                        <div class="fw-grid fw-grid-15">
                            <div>
                                <i class="icon-social-small-tw"></i>
                            </div>
                            <div>
                                <i class="icon-social-small-vk"></i>
                            </div>
                            <div>
                                <i class="icon-social-small-fb"></i>
                            </div>
                            <div>
                                <i class="icon-social-small-insta"></i>
                            </div>
                        </div>
                    </li>
                    <li class="numered-list__item">
                        Сделай репост любой из записей <a href="#" class="reset-link fw-link-pink js-open-popup" data-popup-target="subscription">выбрать запись</a>
                    </li>
                    <li class="numered-list__item">
                        После <a href="#" class="reset-link fw-link-pink js-open-popup" data-popup-target="login">авторизации</a> получи ссылку на свою анкету поделись с друзьями новостью об участии в конкурсе.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    {% include 'layouts/footer.twig' %}
{% endblock %}