{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}

    {% include 'layouts/header.twig' %}

    <div class="vote-page">
        <div class="container">
            <div class="block-title fw-color-white fw-text-uppercase fw-font-futura-demic fw-fz-22 fw-mb-10 fw-text-center">Кто горячее?</div>
            <div class="fw-font-futura-demic fw-fz-19 fw-color-white fw-mb-20 fw-text-center">
                Сегодня можно выбрать <br>
                только одну!
            </div>

            <div class="vote-plate fw-pl-15 fw-pr-15 fw-pb-30">
                <div class="fw-grid fw-grid-30">
                    <div class="fw-width-1-1">
                        <div class="vote-item fw-width-1-1 fw-fz-0">
                            <img alt="" src="http://placehold.it/260x230" class="fw-width-1-1 fw-border-radius-10"/>
                            <span class="js-vote-trigger vote-item__like-icon vote-item__like-icon-pink fw-border-radius-percent-50 ">
                                <i class="icon-heart-empty"></i>
                                <i class="icon-heart-filled fw-hidden"></i>
                            </span>
                            <div class="vote-item__caption fw-font-futura-demic fw-fz-24 fw-color-white">
                                Аня 23, Москва
                            </div>
                        </div>
                    </div>
                    <div class="fw-width-1-1">
                        <div class="vote-item fw-width-1-1 fw-fz-0">
                            <img alt="" src="http://placehold.it/260x230" class="fw-width-1-1 fw-border-radius-10"/>
                            <span class="js-vote-trigger vote-item__like-icon vote-item__like-icon-green fw-border-radius-percent-50">
                                <i class="icon-heart-empty"></i>
                                <i class="icon-heart-filled fw-hidden"></i>
                            </span>
                            <div class="vote-item__caption fw-font-futura-demic fw-fz-24 fw-color-white">
                                Аня 23, Москва
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'layouts/footer.twig' %}
{% endblock %}