<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block pageTitle %}{% endblock %}</title>

    <!-- Stylesheets -->
    {% include "stylesheets.twig" %}
</head>
<body>
<div class="app-wrapper">
    <!-- Block content -->
    {% block content %}{% endblock %}
    <!-- Block content end -->

    <!-- Popups -->
    {% include "popups.twig" %}

    <!-- Scripts -->
    {% include "scripts.twig" %}
</div>
</body>
</html>