<footer class="footer fw-pt-30 fw-pb-30">
    <div class="container">
        <div class="footer__menu fw-mb-20">
            <ul class="footer__menu-list">
                <li class="footer__menu-item fw-mb-15"><a class="reset-link fw-link-pink" href="home-about.html">О конкурсе</a></li>
                <li class="footer__menu-item fw-mb-15"><a class="reset-link fw-link-pink" href="girls.html">Участницы</a></li>
                <li class="footer__menu-item fw-mb-15"><a class="reset-link fw-link-pink" href="#">Призы</a></li>
                <li class="footer__menu-item fw-mb-15"><a class="reset-link fw-link-pink" href="registration.html">Регистрация</a></li>
                <li class="footer__menu-item fw-mb-15"><a class="reset-link fw-link-pink" href="#">Пользовательское соглашение</a></li>
                <li class="footer__menu-item fw-mb-15"><a class="reset-link fw-link-pink" href="#">Соглашение о конфиденциальности</a></li>
                <li class="footer__menu-item fw-mb-15"><a class="reset-link fw-link-pink" href="#">Отказ от ответственности</a></li>
                <li class="footer__menu-item"><a class="reset-link fw-link-pink" href="#">Выйти</a></li>
            </ul>
        </div>
        <div class="fw-fz-13 fw-lh-1-54 fw-mb-15">
            <div class="fw-mb-5">Компания ИнстаФорекс © 2007-2017</div>
            <div class="fw-color-grey">
                Бренд ИнстаФорекс™ является зарегистрированной собственностью Компании ИнстаФорекс
                Если Вы обнаружили нарушение правил, сообщите нам
            </div>
        </div>
        <div class="footer__apps">
            <a href="#" class="fw-mr-10"><i class="icon-footer-appstore"></i></a>
            <a href="#"><i class="icon-footer-googleplay"></i></a>
        </div>
    </div>
</footer>