<header class="header header--transparent fw-fz-15">
    <div class="container">
        <div class="fw-flex fw-flex-middle fw-flex-space-between">
            <div class="logo fw-mr-10">
                <a href="index.html" class="logo__link">
                    <img class="logo__image" src="images/logo-white.png" alt="">
                </a>
            </div>
            <div class="header__menu header__menu--white fw-flex-grow-1">
                <ul class="header__menu-list fw-flex fw-flex-space-around fw-flex-middle fw-font-futura-demic">
                    <li class="header__menu-item"><a class="header__menu-link reset-link" href="/girls-rating.html">Участницы</a></li>
                    <li class="header__menu-item"><a class="header__menu-link reset-link" href="/home-about.html">О конкурсе</a></li>
                </ul>
            </div>
            <div class="header__enter fw-ml-10 fw-fz-0">
                {#<a href="#" class="js-open-popup" data-popup-target="login"><i class="icon-enter"></i></a>#}
                <a href="#"><img src="http://placehold.it/30x30" class="fw-border-radius-percent-50" alt=""></a>
            </div>
        </div>
    </div>
</header>