<div class="popup-wrapper js-popup" data-popup="login">
    <div class="popup">
        <div class="js-close-popup close-popup">
            <i class="icon-cross"></i>
        </div>
        <div class="popup-title fw-mb-20 fw-text-center fw-text-uppercase fw-font-futura-demic fw-fz-22">Авторизация</div>
        <form action="#">
            <div class="form-line fw-mb-20">
                <input type="text" placeholder="Эл.почта" class="fw-text-center">
            </div>
            <div class="form-line fw-mb-20 form-line--has-icon">
                <input type="password" id="login-password" placeholder="Пароль" class="fw-text-center">
                <label for="login-password" class="input--icon js-password-detector">
                    <i class="icon-closed-eye"></i>
                    <i class="icon-opened-eye"></i>
                </label>
            </div>
            <div class="form-line fw-mb-30">
                <button class="button button-pink button-square fw-width-1-1">Войти</button>
            </div>
            <div class="form-line fw-text-center fw-fz-15">
                <a href="#" class="fw-link-pink reset-link">Забыли пароль?</a>
            </div>
        </form>
    </div>
</div>