<div class="popup-wrapper js-popup" data-popup="login">
  <div class="popup login-popup">
    <div class="js-close-popup close-popup">
      <i class="icon-cross"></i>
    </div>
    <div class="popup-title fw-mb-20 fw-text-center fw-text-uppercase fw-font-futura-demic fw-fz-22">Авторизация
    </div>
    <form action="#">
      <div class="form-line fw-mb-20">
        <input type="text" placeholder="Эл.почта" class="fw-text-center error-field">
        <div class="fw-color fw-link-pink fw-mt-10">Error!!!</div>
      </div>
      <div class="form-line fw-mb-20 form-line--has-icon">
        <input type="password" id="login-password" placeholder="Пароль" class="fw-text-center">
        <label for="login-password" class="input--icon js-password-detector">
          <i class="icon-closed-eye"></i>
          <i class="icon-opened-eye"></i>
        </label>
      </div>
      <div class="form-line fw-mb-30">
        <button class="button button-pink button-square fw-width-1-1"><span>Войти</span></button>
      </div>
      <div class="form-line fw-text-center fw-fz-15">
        <a href="#" class="fw-link-pink reset-link">Забыли пароль?</a>
      </div>
    </form>
  </div>
</div>

<div class="popup-wrapper js-popup" data-popup="thanks">
  <div class="popup login-popup">
    <div class="js-close-popup close-popup">
      <i class="icon-cross"></i>
    </div>
    <div class="popup-title fw-mb-20 fw-text-center fw-text-uppercase fw-font-futura-demic fw-fz-22">
      Спасибо!
    </div>
    <div>
      Ваше сообщение отправлено!
    </div>
  </div>
</div>

<div class="popup-wrapper js-popup" data-popup="thanks">
  <div class="popup login-popup fw-text-center">
    <div class="js-close-popup close-popup">
      <i class="icon-cross"></i>
    </div>
    <div class="fw-mb-15">
      <i class="icon-woman-question"></i>
    </div>
    <div class="fw-mb-15 fw-lh-1-33">
      Обращаем внимание, что к голосованию допускаются только мужчины, подтвердившие свой финансовый статус в
      приложении Denim и имеющие активный премиум-доступ.
    </div>
    <div class="fw-text-center">
      <a href="#" class="fw-link-pink reset-link js-close-popup">Понятно</a>
    </div>
  </div>
</div>

<div class="popup-wrapper js-popup" data-popup="thanks">
  <div class="popup login-popup fw-text-center">
    <div class="js-close-popup close-popup">
      <i class="icon-cross"></i>
    </div>
    <div class="fw-mb-15">
      <i class="icon-man-question"></i>
    </div>
    <div class="fw-mb-15 fw-lh-1-33">
      Принимай активное участие в голосовании и выиграй одну из трех эксклюзивных платиновых клубных карт.
      Обращаем внимание, что к голосованию допускаются только мужчины, подтвердившие свой финансовый статус в
      приложении Denim и имеющие активный премиум-доступ.
    </div>
    <div class="fw-mb-15">
      <a href="#" class="button button-square button-pink">Скачать Denim</a>
    </div>
    <div class="fw-text-center">
      У меня уже есть премиум доступ &mdash; <a href="#" class="fw-link-pink reset-link js-close-popup">Войти</a>
    </div>
  </div>
</div>

<div class="popup-wrapper js-popup" data-popup="thanks">
  <div class="popup login-popup">
    <div class="js-close-popup close-popup">
      <i class="icon-cross"></i>
    </div>
    <div class="popup-title fw-mb-20 fw-text-center fw-text-uppercase fw-font-futura-demic fw-fz-22">
      Подтверждение участия
    </div>
    <div class="fw-mb-20 fw-text-center fw-lh-1-33">
      Для продолжения введите ваш код участника, отправленный на номер +7(925)***-**-21
    </div>
    <form action="#" class="fw-mb-20">
      <div class="form-line fw-mb-20 form-line--has-icon">
        <input type="password" id="login-password" placeholder="Код" class="fw-text-center">
        <label for="login-password" class="input--icon js-password-detector">
          <i class="icon-closed-eye"></i>
          <i class="icon-opened-eye"></i>
        </label>
      </div>
      <div class="fw-text-center">
        <button class="button button-square button-pink">Подтвердить</button>
      </div>
    </form>
    <div class="fw-text-center">
      <a href="#" class="fw-link-pink fw-text-underline-hover">Выслать код повторно</a>
    </div>
  </div>
</div>

<div class="popup-wrapper subscription-popup js-popup" data-popup="subscription">
  <div class="popup ">
    <div class="js-close-popup close-popup close-popup--black">
      <i class="icon-cross"></i>
    </div>
    <div class="subscription-popup-carousel owl-carousel" data-margin="10" data-auto-width>
      {% for i in 1..10 %}
        <div class="fw-width-250 fw-bg-color-white fw-pt-10 fw-pl-10 fw-pr-10 fw-pb-10">
          <div class="fw-mb-10 fw-font-futura-demic fw-fz-16 fw-lh-1">Сложно ли найти любовника современной
            девушке?
          </div>
          <div class="fw-mb-10">
            <img alt="" src="http://placehold.it/230x130" class="fw-width-1-1"/>
          </div>
          <div class="fw-mb-10 fw-lh-1-54 fw-fz-12">
            Гармонизация личной жизни, потребность в острых ощущениях или в качественном сексе – а какую
            цель
            преследуете вы, желая найти любовника в Москве или другом городе.
          </div>
          <div>
            <div class="fw-mb-5 fw-font-futura-demic fw-fz-16">
              Поделитесь этим в своей ленте
            </div>
            <div class="fw-grid fw-grid-5">
              <div>
                <i class="icon-social-small-tw"></i>
              </div>
              <div>
                <i class="icon-social-small-vk"></i>
              </div>
              <div>
                <i class="icon-social-small-fb"></i>
              </div>
              <div>
                <i class="icon-social-small-insta"></i>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="popup-wrapper subscription-popup share-with-friends js-popup" data-popup="share-with-friends">
  <div class="popup">
    <div class="js-close-popup close-popup close-popup--black">
      <i class="icon-cross"></i>
    </div>
    <div class="fw-width-250 fw-bg-color-white fw-pt-10 fw-pl-10 fw-pr-10 fw-pb-10 fw-ml-auto fw-mr-auto">
      <div class="fw-mb-10 fw-font-futura-demic fw-fz-16 fw-lh-1">Я участвую в конкурсе "Золушка в бикини"</div>
      <div class="fw-mb-10">
        <img alt="" src="http://placehold.it/230x130" class="fw-width-1-1"/>
      </div>
      <div class="fw-mb-10 fw-lh-1-54 fw-fz-12">
        <a class="fw-color-pink fw-text-underline-hover" href="#">#конкурс</a>
        <a class="fw-color-pink fw-text-underline-hover" href="#">#золушкавбикини</a>
        <a class="fw-color-pink fw-text-underline-hover" href="#">#denim</a>
        <a class="fw-color-pink fw-text-underline-hover" href="#">#бикини</a>
      </div>
      <div>
        <div class="fw-mb-5 fw-font-futura-demic fw-fz-16">
          Выбери соц.сеть, в которой разместишь новость:
        </div>
        <div class="fw-grid fw-grid-5">
          <div>
            <i class="icon-social-small-tw"></i>
          </div>
          <div>
            <i class="icon-social-small-vk"></i>
          </div>
          <div>
            <i class="icon-social-small-fb"></i>
          </div>
          <div>
            <i class="icon-social-small-insta"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="popup-wrapper js-popup" data-popup="photo-recommendations">
  <div class="popup fw-pl-15 fw-pr-15 fw-pt-15 fw-pb-15 fw-bg-color-white">
    <div class="js-close-popup close-popup">
      <i class="icon-cross"></i>
    </div>
    <div class="photo-recommendations__content fw-mb-15">
      <div class="fw-font-futura-demic fw-fz-19 fw-lh-1 fw-mb-20">Рекомендации по размешению фото</div>
      <div class="photo-recommendations__carousel owl-carousel fw-mb-20" data-auto-width data-margin="10">
        <div
            class="photo-recommendations__example fw-width-100 photo-recommendations__example--green fw-border-radius-5">
          <div class="fw-fz-0 fw-box-proportional-100 fw-overflow-hidden">
            <div>
              <img alt="" src="images/examples1.jpg"
                   class="fw-width-1-1 fw-border-radius-5"/>
            </div>
          </div>
          <div class="fw-font-medium fw-text-center fw-pl-5 fw-pr-5 fw-pt-5 fw-pb-5 fw-lh-1-33 fw-fz-13 fw-color-white">
            Хорошо
          </div>
        </div>
        {% for i in 1..3 %}
          <div
              class="photo-recommendations__example fw-width-100 photo-recommendations__example--red fw-border-radius-5">
            <div class="fw-fz-0 fw-box-proportional-100 fw-overflow-hidden">
              <div>
                <img alt="" src="images/examples{{ i+1 }}.jpg"
                     class="fw-width-1-1 fw-border-radius-5"/>
              </div>
            </div>
            <div
                class="fw-font-medium fw-text-center fw-pl-5 fw-pr-5 fw-pt-5 fw-pb-5 fw-lh-1-33 fw-fz-13 fw-color-white">
              Плохо
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="questionnaire__list fw-lh-1-54 fw-fz-12">
        <div class="questionnaire__item">
          <div class="questionnaire__title fw-font-futura-demic fw-fz-16 fw-mb-5">Фото в бикини</div>
          <div class="questionnaire__content">
            «Золушка в бикини» – это конкурс бикини, следовательно, речь идет о фотографиях в купальниках, а
            не в платьях и шубах. Покажите себя – свое лицо, сексуальное тело. Фото при этом подойдут любые,
            заказывать специально профессиональную фотосъемку по этому поводу вовсе не нужно. Покажи себя –
            свое лицо, сексуальное тело.
          </div>
        </div>
        <div class="questionnaire__item">
          <div class="questionnaire__title fw-font-futura-demic fw-fz-16 fw-mb-5">Нейтральный фон</div>
          <div class="questionnaire__content">
            Любой замысловатый фон с множеством предметов только отвлекает внимание от главного – тебя.
            Поэтому постарайся представить ту фотографию, где ничто бы не мешало любоваться твоим плоским
            животиком, осиной талией и эффектными бедрами.
          </div>
        </div>
        <div class="questionnaire__item">
          <div class="questionnaire__title fw-font-futura-demic fw-fz-16 fw-mb-5">Меньше искусства</div>
          <div class="questionnaire__content">
            Конкурс бикини предполагает фотографии из повседневной жизни, с отдыха, а не с обложек модных
            журналов. Именно поэтому не старайся застыть в необычной позе, удивить всех томным взглядом,
            сняться с медведем в обнимку и т.д
          </div>
        </div>
        <div class="questionnaire__item">
          <div class="questionnaire__title fw-font-futura-demic fw-fz-16 fw-mb-5">Минимум ретуши</div>
          <div class="questionnaire__content">
            Оценивают фотографии участниц опытные состоятельные мужчины, которые умеют различать
            естественные снимки от десятки раз обработанных в фоторедакторах. Поэтому плюсом к твоему снимку
            будет его натуральность.
          </div>
        </div>
      </div>
    </div>
    <div class="popup__bottom-button js-close-popup fw-ml-inverse-15 fw-mr-inverse-15">
      <div
          class="fw-pb-10 fw-pt-10 fw-pl-15 fw-pr-15 fw-mb-inverse-15 fw-link-pink fw-fz-19 fw-font-futura-demic fw-text-center">
        Понятно
      </div>
    </div>
  </div>
</div>

<div class="popup-wrapper js-popup" data-popup="warning-photo">
  <div class="popup fw-pl-15 fw-pr-15 fw-pt-15 fw-pb-15 fw-bg-color-white">
    <div class="js-close-popup close-popup">
      <i class="icon-cross"></i>
    </div>
    <div class="fw-border-box fw-pl-30 fw-pr-30 fw-text-center fw-pb-10 fw-width-450">
      <p class="fw-fz-30 fw-font-futura-demic fw-text-center fw-text-uppercase fw-mb-15 fw-mt-0">Внимание!</p>
      <p class="fw-fz-16 fw-text-center fw-mb-30">Ваше фото не соответствует рекомендациям - загрузите другие</p>
      <div class="fw-position-relative fw-width-150 fw-height-150 fw-mr-auto fw-ml-auto">
        <img src="http://placehold.it/150x150" alt="" class="fw-img-cover fw-border-radius-5">
        <div class="popup-warning-error">
          <i class="icon-error-36x36"></i>
        </div>
      </div>
      <p class="fw-text-center">
        <span class="button button-pink fw-border-radius-5 fw-width-200">Загрузить</span>
      </p>
      <div class="fw-mt-30 fw-text-center fw-fz-16">
        <a href="#" class="js-close-popup fw-color-pink fw-text-underline-hover fw-fz-16 js-change-popup"
           data-closing-popup="warning-photo" data-opening-popup="photo-recommendations">Рекомендации к размещаемым
          фото</a>
      </div>
    </div>
  </div>
</div>

<div class="popup-wrapper js-popup" data-popup="vote-finished">
  <div class="popup fw-pl-15 fw-pr-15 fw-pt-30 fw-pb-15 fw-bg-color-white">
    <div class="js-close-popup close-popup">
      <i class="icon-cross"></i>
    </div>
    <div
        class="fw-flex fw-flex-column fw-flex-middle fw-border-box fw-pl-30 fw-pr-30 fw-text-center fw-pb-10 fw-width-450">
      <div class="fw-text-center fw-mb-30">
        <i class="icon-ok"></i>
      </div>
      <p class="fw-fz-16 fw-text-center fw-mt-0 fw-mb-80">Вы уже проголосовали за все пары</p>
      <div class="fw-mt-30 fw-text-center fw-fz-16">
        <a href="#" class="js-close-popup fw-color-pink fw-text-underline-hover">Понятно</a>
      </div>
    </div>
  </div>
</div>

<div class="popup-wrapper mobile-menu-popup-wrapper js-popup" data-popup="mobile-menu">
  <div class="popup mobile-menu fw-ml-inverse-15 fw-mr-inverse-15 fw-pl-15 fw-pr-15 fw-pt-30 fw-pb-30 fw-mt-0 fw-bg-color-white">
    <ul>
      <li class="fw-mb-20">
        <a href="#" class="fw-flex fw-flex-middle">
          <div>
            <img alt="" class="fw-max-width-36 fw-border-radius-50 fw-mr-15" src="http://placehold.it/36x36"/>
          </div>
          <div>Моя страница</div>
        </a>
      </li>
      <li class="mobile-menu__logout fw-mb-20">
        <a href="#" class="fw-flex fw-flex-middle">
          <div class="fw-width-36 fw-text-center fw-mr-15"><i class="icon-logout"></i></div>
          <span>Выход</span>
        </a>
      </li>
      <li class="mobile-menu__logout mobile-menu__logout--dark fw-mb-20">
        <a href="#" class="fw-flex fw-flex-middle">
          <div class="fw-width-36 fw-text-center fw-mr-15"><i class="icon-grey-login"></i></div>
          <span>Вход для участниц</span>
        </a>
      </li>
      <li class="mobile-menu__logout mobile-menu__logout--dark">
        <a href="#" class="fw-flex fw-flex-middle">
          <div class="fw-width-36 fw-text-center fw-mr-15"><i class="icon-grey-login-participant"></i></div>
          <span>Войти и голосовать</span>
        </a>
      </li>
    </ul>
  </div>
</div>

